<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Redis Logs</title>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.4"
      integrity="sha384-1RwI/nvUSrMRuNj7hX1+27J8XDdCoSLf0EjEyF69nacuWyiJYoQ/j39RT1mSnd2G"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </head>

  <body hx-boost="true">
    <div class="log-body">
      <div class="header">
        <div class="container">
          <h1>Redis Pub/Sub Logs</h1>
        </div>
      </div>
      <ul class="container">
        <li class="app-list" th:each="app : ${apps}">
          <a th:href="@{/{appName}(appName=${app})}" th:text="${app}"></a>
        </li>
      </ul>
    </div>
  </body>
</html>
